@media screen and (min-width: 1200px){
  .header__menu-mobile{
    display: none;
  }
}

/* Tablet */
@media (max-width: 1024px){

}

@media (max-width: 768px){

}
/* End tablet */

/* Mobile */
@media (max-width: 414px){
  .wide{
    width: 90%;
  }

  .header__logo img{
    max-width: 2.5rem;
  }

  .header__logo h2{
    display: none;
  }

  .header__info .header__user{
    display: none;
  }

  .header__search{
    display: none;
  }

  .header__search-mobile{
    display: block;
    width: 100%;
  }

  .header__cart i{
    font-size: 28px;
  }

  .header__account-mobile{
    display: block;
  }

  #main-nav{
    display: none;
  }

  .highlights-banners-inner,
  .section_prod_inner,
  .section_prod_inner{
    overflow-x: scroll;
  }

  .section_sub_item input{
    width: 15rem;
  }

  .section_sub_item button{
    width: 5rem;
  }

  .section_prod_inner{
    display: flex;
    padding-bottom: .5rem;
  }

  .section_name{
    font-size: 1.5rem;
  }

  .prod_item,
  .prod_more{
    min-width: 14rem;
  }

  .prod_more{
    background-color: #000000;
    color: #ffffff;
  }

  .prod_thumb{
    width: 12rem;
  }

  .section_sub_inner .section_sub_description{
    width: 18rem;
  }

  .section_tut{
    height: 30rem;
    padding: 1rem;
  }

  .section_tut_inner{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .section_tut_inner > *{
    width: 100%;
  }

  #mainIframe{
    height: 12rem;
    margin-bottom: 1rem;
  }

  .homeIframe{
    display: flex;
    overflow-y: unset;
    overflow-x: scroll;
  }

  .iframe_item{
    border: none;
    padding: 0;
    margin-right: 1rem;
  }

  .iframe_item:last-child{
    margin-right: 0;
  }

  .iframe_item_inner{
    width: 12rem;
    margin-right: 0;
  }

  .home__footer{
    padding-top: 3rem;
  }

  .footer_upper{
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .footer_lower{
    margin-top: 3rem;
  }

  .home__content{
    margin-top: 3rem;
  }

  .home__content:last-child{
    margin-bottom: 3rem;
  }
  
  .footer_nav ul{
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer_copyright{
    margin: 1rem 0;
  }
}

@media (max-width: 375px){

}
/* End mobile */